// Стили для описания события
.schedule-event__review {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 4vw;
  line-height: 5.5vw;
  font-family: "Helvetica Neue", sans-serif;
  background-color: rgb(255, 255, 255);
  transition: transform .5s;
  transform: translateY(100%);
}

// Показывает описание
.schedule-event__review_active {
  transform: translateY(0);
}

// Стили для крестика
.schedule-event__review-cross {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 10px;
  opacity: .4;
}

// Немного анимаций :)
.schedule-event__review_active .schedule-event__review-cross {
  transition: transform .3s .5s;
  transform: rotate(270deg);
}

// Контейнер с текстом для удобной настройки скролла
.schedule-event__review-text {
  height: 100%;
  margin: -20px -20px -20px 0;
  padding: 20px 20px 20px 0;
  overflow-y: auto;
}

// Немного правим отступы, но только для больших телефонов
@media (max-width: 624px) and (min-width: 400px) {
  .schedule-event__review {
    padding: 30px;
  }
  .schedule-event__review-text {
    margin: -30px -30px -30px 0;
    padding: 30px 30px 30px 0;
  }
}

// Фиксируем размеры шрифта для планшетов и десктопа
@media (min-width: 625px) {
  .schedule-event__review {
    font-size: 15px;
    line-height: 19px;
  }
}