@import "./event-review.scss";

// Блок "Событие". На маленьких дисплеях - резиновая. На больших - фиксированная.
.schedule-event {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  min-height: calc(100vw - 40px);
  border: 1px solid #d6d6d6;
  font-family: "Helvetica Neue", sans-serif;
  text-align: left;
  color: rgb(40, 40, 40);
  overflow: hidden;
  background-color: #fff;
  // Оптимизирует анимацию в Firefox и, возможно, в других браузерах
  will-change: transform, opacity;
  transition: background-color 3s, opacity .3s, transform .3s;

  &:hover {
    transform: scale(1.03);
  }
  // Используется для фильтрации
  &.schedule-event_hidden {
    display: none;
  }
  // Прошедшее событие
  &.schedule-event_past {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
  // Текущее событие
  &.schedule-event_now {
    background-color: #eef7ff;
  }
}

// Название события
.schedule-event__topic {
  font-size: 5vw;
  line-height: 6.5vw;
}

// Имя лектора
.schedule-event__lecturer {
  margin-top: 2vw;
  font-size: 4.5vw;
  // Добавил для переноса на новую строку, так как этот и предыдущий элемент - блочно-строчные
  &:before {
    display: block;
    content: "";
    margin-top: 10px;
  }
}

// Название школы
.schedule-event__school {
  font-size: 4vw;
  line-height: 5.5vw;
}

// Общие стили для донтейнеров с локацией, ссылкой на метериалы и ссылкой на прямой эфир
.schedule-event__place, .schedule-event__materials, .schedule-event__stream {
  display: none;
  position: absolute;
  max-width: calc(100% - 30vw);
  bottom: 20px;
  font-size: 4vw;
}

// Дата собырия. Она как-бы на фоне, прижата в справа-снизу, на нее может заезжать текст - такой дизайн :)
.schedule-event__date {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-weight: 600;
  text-align: center;
  color: rgba(255, 0, 0, .3);
}

// День события
.schedule-event__date-day {
  font-size: 18vw;
  line-height: 15vw;
  font-family: "Arial Narrow", Arial, sans-serif;
}

// Месяц события
.schedule-event__date-month {
  font-size: 4.5vw;
  font-family: "Arial", sans-serif;
}

// Показываем ссылки в зависимости от времени события - идет сейчас, прошло или будет позже
.schedule-event_future .schedule-event__place {
  display: block;
}

.schedule-event_now .schedule-event__stream {
  display: block;
}

.schedule-event_past .schedule-event__materials {
  display: block;
}

// Немного увеличиваем отступы для фаблетов и маленьких планшетов
@media (min-width: 400px) {
  .schedule-event {
    margin-top: 30px;
    min-height: calc(100vw - 60px);
    padding: 30px;
  }
  .schedule-event__place, .schedule-event__materials, .schedule-event__stream {
    bottom: 30px;
  }
  .schedule-event__date {
    bottom: 30px;
    right: 20px;
  }
}

// Планшеты и десктоп. Просто фиксируем шрифты, интерленьяж, отступы и прочие размеры
@media (min-width: 625px) {
  .schedule-event {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    width: 290px;
    min-height: 290px;
    vertical-align: top;
  }
  .schedule-event__topic {
    font-size: 19px;
    line-height: 24px;
  }
  .schedule-event__lecturer {
    margin-top: 10px;
    font-size: 17px;
  }
  .schedule-event__school {
    font-size: 15px;
    line-height: 17px;
  }
  .schedule-event__place, .schedule-event__materials, .schedule-event__stream {
    max-width: 60%;
    bottom: 20px;
    font-size: 15px;
  }
  .schedule-event__date {
    bottom: 18px;
  }
  .schedule-event__date-day {
    font-size: 55px;
    line-height: 40px;
  }
  .schedule-event__date-month {
    font-size: 17px;
  }
}