.lecturer {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5vw;
  flex-direction: column;
  font-family: "Helvetica Neue", sans-serif;
  background: rgb(255, 255, 255);
  overflow-y: auto;
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

.lecturer-cross {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  stroke: #f00;
  opacity: .4;
  stroke-width: 1px;
  cursor: pointer;
}

.lecturer-image {
  display: block;
  margin: 0 auto;
  width: 60vw;
  height: 60vw;
  border-radius: 200px;
  opacity: 0;
  transition: opacity .2s .2s;
}

.active .lecturer-image {
  opacity: 1;
}

.lecturer-text {
  margin-top: 5vw;
  padding: 0 20px 20px;
  font-size: 4vw;
  line-height: 5.5vw;
}

@media (min-width: 520px) {
  .lecturer {
    padding: 20px;
  }
  .lecturer-image {
    width: 250px;
    height: 250px;
  }
  .lecturer-text {
    max-width: 500px;
    margin: 20px auto 0;
    padding: 0;
    font-size: 19px;
    line-height: 24px;
  }
}

@media (min-width: 820px) {
  .lecturer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .lecturer-cross {
    width: 50px;
    height: 50px;
  }
  .lecturer-image {
    margin: 0 40px 0 0;
  }
  .lecturer-text {
    margin: 0;
    max-width: 700px;
    max-height: 100%;
  }
}