<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Расписание занятий | Школа Разработки Интерфейсов</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

  <div class="filter">
    <div class="filter__wrapper">
      <label class="filter__label" for="lecturer">Лектор:</label>
      <select class="filter__lecturer" id="lecturer">
        <option value="all">Все</option>
        <% Object.keys(lecturers).forEach(key => { %>
          <option value="<%= key %>"><%= lecturers[key].name %></option>
        <% }) %>
      </select>
    </div>
    <div class="filter__wrapper">
      <label class="filter__label" for="school">Школа:</label>
      <select class="filter__school" id="school">
        <option value="all">Все</option>
        <% Object.keys(schools).forEach(key => { %>
          <option value="<%= key %>"><%= schools[key].name %></option>
        <% }) %>
      </select>
    </div>
    <div class="filter__message filter__message_hidden">
      Для заданного поиска нет событий.
    </div>
  </div>

  <div class="content">
    <div class="schedule">
      <% schedule.forEach(event => { %>
        <%- include('event.html', { props: event }) %>
      <% }) %>
    </div>
    <div class="lecturer">
      <img class="lecturer__cross" src="assets/cross.svg" alt="close">
      <img class="lecturer__image" src="<%= lecturers[Object.keys(lecturers)[0]].image %>" role="presentation" />
      <div class="lecturer__text"></div>
    </div>
  </div>

  <script src="index.js"></script>
</body>
</html>