<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Расписание занятий | Школа Разработки Интерфейсов</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <div class="header">

  </div>
  <div class="content">
    <div class="schedule">
      <% schedule.forEach(function(event) { %>
        <%- include('event.html', { props: event }) %>
      <% }) %>
    </div>
    <div class="lecturer">
      <svg class="lecturer-cross" x="0" y="0" viewBox="0, 0, 10, 10">
        <g><path d="M2.5,2.5 L7.5,7.5"/><path d="M2.5,7.5 L7.5,2.5"/></g>
      </svg>
      <img class="lecturer-image" src="" role="presentation" />
      <div class="lecturer-text"></div>
    </div>
  </div>

  <script src="index.js"></script>
</body>
</html>